.ds_store
.DS_Store
LandmarkAR.xcodeproj/project.xcworkspace/xcuserdata/rob.xcuserdatad
LandmarkAR.xcodeproj/project.xcworkspace/xcuserdata/rob.xcuserdatad/*
LandmarkAR.xcodeproj/project.xcworkspace/xcuserdata/rob.xcuserdatad/UserInterfaceState.xcuserstate
